<%= render "partials/nav" %>

<div class="container-fluid">
<a class="hidden" id="difficulty" data="EASY_STATE"></a>
                 <div id="countdown"></div>
            <h3><%= @question[0].content %></h3>
       
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-lg-12">
            <div class="row">
           <%= bootstrap_form_for @solution do |t| %>
              <%= t.text_area :content, label: "INPUT SOLUTION HERE:", :class => 'easy_box' %>
              <%= t.primary %>
              <%= t.hidden_field :question_id, :value => @question[0].id %>
            <% end %>
            <button class=
            "btn waves-effect waves-light" id="skip">SKIP</button>
            </div>
        </div>
    </div>
</div>

<%= render "partials/footer" %>



