<%= render "partials/nav" %>
<div class="container-fluid">
<div class="row">
<div class="col-xs-6 col-sm-10 col-lg-12">

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-12">
        <h2 class="solutions">ALL SOLUTIONS FOR:</h2>
          <h1><%= @question.title%> </h1>
            <pre><p><%= @question.content%></p></pre>
        
        </div>
    </div>
</div>

    <h2 class="solutions"><strong>SOLUTIONS:</strong></h2>
    <br>

<h3><% @solutions.each do |solution|  %></h3>
    <h4><%= solution.user.name %></h3>
    <a href="/solutions/<%= solution.id %>"><p><%= solution.content %></p></a>
        <%= link_to like_solution_path(solution), method: :put do %>
            <button class="btn waves-effect waves-light" id="up">UP
            <span >(<%= solution.get_upvotes.size  %>)</span></button>
        <% end  %>
        <%= link_to dislike_solution_path(solution), method: :put do %>
            <button class="btn waves-effect waves-light" id="down">DOWN
            <span >(<%= solution.get_downvotes.size  %>)</span></button>
        <% end %>
            <a class="btn waves-effect waves-light" id="down" href="/solutions/<%= solution.id %>">COMMENTS
            <span >(<%= @comment_counts[solution.id] %>)</span></a>
    <% end %>

    
</div>
</div>
</div>


<%= render "partials/footer" %>

