<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li style="list-style: none"><button class=
            "btn waves-effect waves-light" id="login" type=
            "submit">LOGIN</button></li>
        </ul>
        <ul class="left hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li style="list-style: none"><button class=
            "btn waves-effect waves-light" data-target="#modal1" data-toggle=
            "modal" id="login" type="submit">LEARN MORE</button></li>
        </ul>
    </div>
</nav>         

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-12">
            <h1 id="title">CODEPREP</h1><img src=
            "http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png">
            <h1>SIGN UP</h1>
            <div class="container-fluid">
                <%= bootstrap_form_for(@user, {url: 'signup' }) do |f| %><%= f.text_field :name %><%= f.email_field :email %><%= f.password_field :password %><br>
                <%= f.submit "SUBMIT" %> <%end %>
            </div>
        </div>
    </div>
</div>

 <div id="modal1" class="modal">
 <div class="col-sm-8 col-md-10 col-lg-12">
      <h4>ABOUT CODEPREP</h4>
      <p>A bunch of text</p>

      <h4>WHY SHOULD I SIGN UP?</h4>
      <p>A bunch more text</p>

      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
  </div>
  </div>

  

  

<%= render "partials/footer" %>


 