<h1>CODEPREP</h1>
<h2>ICON GOES HERE</h2>
<h1>SIGN UP</h1>

<%= bootstrap_form_for(@user, {url: 'users/create' }) do |f| %>
  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
  <br>
  <%= f.submit "SUBMIT" %>
<% end %>


