<nav>
    <div class="nav-wrapper">
    
            <!-- Dropdown Trigger -->
            <li style="list-style: none"><button class=
            "btn waves-effect waves-light" id="login" href="/login">LOGIN</button></li>
    
         <li style="list-style: none"><button class=
            "btn waves-effect waves-light" data-target="#modal1" data-toggle=
            "modal" id="login" type="submit">LEARN MORE</button></li>

    </div>
</nav>         

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-10 col-lg-12">
            <h1 id="title">CODEPREP</h1><img src=
            "https://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png">
            <h1>SIGN UP</h1>
            <div class="container-fluid">
                <%= bootstrap_form_for(@user, {url: 'signup' }) do |f| %><%= f.text_field :name %><%= f.email_field :email %><%= f.password_field :password %><br>
                <%= f.submit "SUBMIT" %> <%end %>
            </div>
        </div>
    </div>
</div>

 <div id="modal1" class="modal">
 <div class="col-sm-8 col-md-10 col-lg-12">
      <h4>ABOUT CODEPREP</h4>
      <p>Are you new to programming? CODEPREP is just what you need to prepare and practice for the high stress dynamic of technical interviews. With our variety of sample questions, varying difficulty and integrated peer review elements, you are able to simulate whiteboarding with live feedback.</p>

      <h4>WHY SHOULD I SIGN UP?</h4>
      <p>We strongly believe in the adage: practice makes perfect. Technical interviews are a necessary evil for developers looking for work. By using CODEPREP you gain access to a database of questions and their respective solutions from the CODEPREP community. The ability to review other solutions, or suggest edits and changes to a given solution (or sudo-code) is an invaluable resource for programmers.  </p> 

      <h4>WHAT DOES IT COST?</h4>
      <p>The best things in life are free; CODEPEN is no different. We believe that while the value of CODEPEN is immeasurable, the cost should be nil. </p>

      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
  </div>
  </div>

  

  

<%= render "partials/footer" %>


 