<%= render "partials/nav" %>

<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-10 col-lg-12">
 <h3> Logged in as <%= @current_user.name %></h3>
<% @solutions.each do |solution|  %>
	<h3><%= solution.question.title %></h3>
	<pre><strong>PROBLEM:</strong><br><br><%= solution.question.content %></pre>
	<pre><strong>SOLUTION:</strong><br><br><%= solution.content %></pre>
  <button id="delete <%= solution.id %>" value="<%= solution.id%>" class="delete">DELETE</button>
<% end %>
</div>
</div>
</div>