<%= render "partials/nav" %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-lg-12">
            <h1>MY SAVED SOLUTIONS</h1><%@solutions.each do |solution|  %><br>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <p><strong>PROBLEM:</strong>
                        <br></p>
                        <p class="text"><%= solution.question.content %></p>
                        <p></p><br>
                        <p><strong>SOLUTION:</strong><br>
                        <br>
                        <%= solution.content %></p>
                        <button id="<%= solution.id %>" class="btn waves-effect waves-light delete">DELETE</button>     
  <button class="btn waves-effect waves-light" data-target="#modal<%= solution.id %>" data-toggle="modal" >EDIT</button>      
 <a class="btn waves-effect waves-light" href="/questions/<%= solution.question_id %>">VIEW</a>

             <div id="modal<%= solution.id %>" class="modal">       
 <div class="col-sm-8 col-md-10 col-lg-12">       
       <%= bootstrap_form_for solution do |t| %>       
              <%= t.text_area :content, :rows => 15 %>        
               <%= t.primary %>        
              <%= t.hidden_field :question_id %>      
             <% end %>     
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
   </div>      
   </div>
                    </div>
                </div>
            </div>
          <%end %>
        </div>
    </div>
</div>

<%= render "partials/footer" %>



 


