<%= render "partials/nav" %>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-10 col-lg-12">
            <h1>MY SAVED SOLUTIONS</h1><%@solutions.each do |solution|  %><br>
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card-panel">
                        <p><strong>PROBLEM:</strong>
                        <br></p>
                        <p class="text"><%= solution.question.content %></p>
                        <p></p><br>
                        <p><strong>SOLUTION:</strong><br>
                        <br>
                        <%= solution.content %></p>
                        <button class="btn waves-effect waves-light delete" id=
            "<%= solution.id %>">DELETE</button> <button class=
            "btn waves-effect waves-light" data-target=
            "#modal&lt;%= solution.id %&gt;" data-toggle="modal">EDIT</button>
            <a class="btn waves-effect waves-light" href=
            "/questions/%3C%=%20solution.question_id%20%%3E">VIEW</a>
            <div class="modal" id="modal&lt;%= solution.id %&gt;">
                <div class="col-sm-8 col-md-10 col-lg-12">
                    <%= bootstrap_form_for solution do |t| %><%= t.text_area :content, :rows => 15 %><%= t.primary %><%= t.hidden_field :question_id %><%end %><button class="btn btn-default"
                    data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
                    </div>
                </div>
            </div>
          <%end %>
        </div>
    </div>
</div>

<%= render "partials/footer" %>



 


