<%= render "partials/nav" %>

<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-10 col-lg-12">
  <% @solutions.each do |solution|  %>
  <br>
	<pre><strong>PROBLEM:</strong><br><br><%= solution.question.content %></pre>
	<pre><strong>SOLUTION:</strong><br><br><%= solution.content %></pre>
  <button id="<%= solution.id %>" class="delete">DELETE</button>
<% end %>
</div>
</div>
</div>

<%= render "partials/footer" %>