<%= render "partials/nav" %>
        
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-12">
            <h1 id="title">CODEPREP</h1><img src=
            "http://i22.photobucket.com/albums/b315/Doifreakuout14/LOGO.png">
            <h1>SOLUTION FOR PROBLEM #1</h1>
            <p>Maecenas eu elit fringilla, sollicitudin magna eget, convallis
            tellus. Morbi eget elementum magna. Cras lacinia risus id purus
            malesuada, mattis posuere sapien aliquet. Praesent porttitor
            lobortis sollicitudin. Sed dolor nisi, tincidunt a nibh et,
            malesuada molestie sem.</p>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Type Solution Here:
                </div>
                <div class="panel-body">
                    Solution goes here
                </div>
            </div><button class="btn btn-primary" type="button">SUBMIT</button>
            <h1>COMMENTS</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Type Solution Here:
                </div>
                <div class="panel-body">
                    Solution goes here
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-sm-10 col-lg-12">
 <h3> Logged in as <%= @current_user.name %></h3>

 <h3> Solution For: <%= @solution.question.title %></h3>
 <pre><%= @solution.content %></pre>
    <div class="well">
    <button id="add_comment" class="add">ADD</button>
    <p></p>
    </div>
<% @comments.each do |comment|  %>
    <h3><%= comment.user.name %></h3>
    <p><%= comment.content %></p>

    <% end %>
</div>
</div>
</div>


<%= render "partials/footer" %>